extends ../templates/template
include ../mixins/link
include ../mixins/list

//- Append(antes) o prepend(después)
append header
	h2 subtitutlo

//- block main
//- 	each name in names
//- 		p= name

block main
	+link('/enlace','enlace')
	ul
		+list(names)



